body{
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    height: 270px;
    width: 480px;
    background-position-x: 1440px;
    border-radius: 5px
}
.img:hover{
    cursor: pointer;
}
.img:hover{
    animation: moveX 3s steps(8) infinite;
}
@keyframes moveX{
    from{background-position-x: 0px;}
    to{background-position-x: 3840px;}
}
#videoPlayer{
    position: fixed;
    left: 40%;
}
